HOST_MSR_LICENSE_FILE=C:\path to\directory\msr-license.xml
HOST_PORT_PREFIX=401

GUEST_IS_HOME=/opt/softwareag/IntegrationServer

CONTAINER_REGISTRY_URL=_your_acr_repo_here_.azurecr.io_
CONTAINER_IMAGE_REPOSITORY=_your_msr_image_here_
CONTAINER_IMAGE_TAG=_your_fix_level_here_

# Google mail service
SMTP_HOST_NAME=smtp.gmail.com
SMTP_HOST_PORT=465
SMTP_USER_EMAIL=my.email@gmail.com
SMTP_USER_PASS=your_pass_here

NEWAPI_BASE_URL=https://newsapi.org/
NEWAPI_API_KEY=100bb55acb194931adcc0f1cd37c2e7b